{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Hello AccueilController!{% endblock %}

{% block body %}
    {{ parent()}}
    <a href="{{path("accueil") }}">retour à l'accueil</a> 

    {% if is_granted("ROLE_ADMIN") == "ROLE_ADMIN" or is_granted("ROLE_ETUDIANT") == "ROLE_ETUDIANT" %}
        {% set nomFormation = "" %}
        {% set nomModule = "" %}
        {% for formation in listeFormations %}
            {% if formation.nom ==  app.request.attributes.get('_route_params')['nomFormation'] %}
                {% set nomFormation = formation %}
            {% endif %}
        {% endfor %}

        {% for module in listeModules %}
            {% if nomFormation.getId() == module.getFormation().getId() and module.nom ==  app.request.attributes.get('_route_params')['nomModule']%}
                {% set nomModule = module %}
            {% endif %}
        {% endfor %}

        {% for seance in listeSeances %}
            {% if seance.getModule().getId() == nomModule.getId()%}
                <div>
                </br>
                <p> {{ seance.titre }} </p>
                <p> {{seance.dateSeance|date('d/m/Y')}} </p>
                <p> {{ seance.contenu}} </p>
                </div>
            {% endif %}
        {% endfor %}
    {% elseif is_granted("ROLE_FORMATEUR") == "ROLE_FORMATEUR" %}
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3 mt-5">
                    <h1> Créer une séance </h1>
                        {{ form(form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>      
{% endblock %}
